# ==========================================
# Power Apps y Power Platform
# ==========================================
*.msapp
*.zip

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/
*.code-workspace

# ==========================================
# Archivos temporales y de Sistema Operativo
# ==========================================
Thumbs.db
ehthumbs.db
Desktop.ini

# ==========================================
# Logs y otros
# ==========================================
*.log
*.env
